/*DEBUT PROFIL*/

/* les onglet */
.systab .tab {
  padding: 2px 10px;
  margin-right: 5px;
  color: #000;
  background: #fff;
  border: 1px solid #000;
  cursor: pointer; }

/* les onglets survolés */
.systab .tab:hover {
  background: #b8efa1;
  color: #487f31;
  border-color: #487f31; }

/* les onglets sélectionnés */
.systab .tab.selected {
  color: #ccc;
  background: #333; }

/* contenus associés aux onglets  */
.systab .contents {
  margin-top: 1px;
  margin-bottom: 1px;
  color: #000;
  background: #fff;
  border: 1px solid #000;
  padding: 10px; }

/* style des onglets */
.systab.s_float .tab,.systab.s_float .tab {
  display: block;
  margin: 5px; }

/* flottement des conteneurs  */
.systab.s_float .tabs,.systab.s_float .contents { float: left; }

/* FIN PROFIL */
